{% extends "layout.html" %}
{% block title %}Base Current History{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Crate/Card/Channel
                <select id="crate">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                </select>
                /
                <select id="slot">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                </select>
                /
                <select id="channel">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                Starting Run:
                <input type="text" id="starting_run" value=103214 style="width:80px;">
                <button type=button onclick="history();">Update Plot</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="main">
                {% if not data %}
                    <h2 align="left"> No data available </h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script>
        if (url_params.crate) {
            document.getElementById("crate").value = url_params.crate;
        }
        if (url_params.slot) {
            document.getElementById("slot").value = url_params.slot;
        }
        if (url_params.channel) {
            document.getElementById("channel").value = url_params.channel;
        }
        if (url_params.starting_run) {
            document.getElementById("starting_run").value = url_params.starting_run;
        }

        var data = {{ data | safe }};
        var dates = new Array();
        for (var i=0; i < data.length; i++)
        {
            data[i]['timestamp'] = moment(data[i]['timestamp']).toDate();
            dates.push(data[i]['timestamp']);
        }

        var scale = tzscale().domain(dates).zone('America/Toronto');

        var time_fmt = 'MMM Do YYYY';

        var params = {
            chart_type: 'point',
            area: false,
            data: data,
            interpolate: 'linear',
            width: $('#main').width(),
            height: url_params['height'] || 400,
            show_secondary_x_label: false,
            //xax_tick: 0,
            time_scale: scale,
            xax_format: scale.tickFormat(data.length),
            y_extended_ticks: true,
            target: "#main",
            x_accessor:'timestamp',
            y_accessor:'base_current',
            min_y_from_data: true,
            x_mouseover: function(d, i) {
                return moment.tz(d['timestamp'], 'America/Toronto').format(time_fmt) + '  ';
            },
        };

        MG.data_graphic(params);

        function history() {
            var params = {}
            params['crate'] = document.getElementById("crate").value;
            params['slot'] = document.getElementById("slot").value;
            params['channel'] = document.getElementById("channel").value;
            try {
                params['starting_run'] = document.getElementById("starting_run").value;
            } catch (e) {
                params['starting_run'] = 103214;
            }
            window.location.replace($SCRIPT_ROOT + "/base_current_history?" + $.param(params));
        }
    </script>
{% endblock %}
