{% extends "layout.html" %}
{% block title %}Burst Trigger{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2>Supernova Burst Trigger </h2>

            <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          Search:
                      </div>
                      <div class="panel-body">
                          <form class="form-horizontal" role="form" method="get" action="{{ url_for("burst") }}" onsubmit="return validate_form()">
                              <div class="form-group form-group-sm">
                                  <label class="col-sm-2 control-label">
                                      Search by:
                                  </label>
                                  <div class="col-sm-2">
                                      <select id="search-by" name="search" class="form-control" onchange="update_search()">
                                          <option value="run">Run</option>
                                          <option value="gtid">GTID</option>
                                          <option value="date">Date</option>
                                      </select>
                                  </div>
                                  <label class="col-sm-1 control-label">
                                      Start
                                  </label>
                                  <div class="col-sm-2">
                                      <input name="start"
                                       id="start"
                                       type="number"
                                       min=0
                                       class="form-control">
                                  </div>
                                  <label class="col-sm-1 control-label">
                                      End
                                  </label>
                                  <div class="col-sm-2">
                                      <input name="end"
                                       id="end"
                                       type="number"
                                       min=0
                                       class="form-control">
                                  </div>
                                  <div class="col-sm-2">
                                      <input type="submit" value="Go"></input>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                </div>
            </div>

            <h3>Details</h3>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Run</th>
                        <th>SubRun</th>
                        <th>Burst</th>
                        <th>Burst Date</th>
                        <th>Burst Time</th>
                        <th># Events</th>
                        <th>Burst Length [s]</th>
                        <th>NHit(avg)</th>
                        <th>GTID range</th>
                        <th>SH nhit</th>
                        <th>SH length</th>
                        <th>SH size</th>
                        <th>SH endrate</th>
                    </tr>
                </thead>
                <tbody>
                  {% for run in data %}
                  <tr>
                      <td><a href="{{ url_for('burst_run_detail', run_number=run['run'], subrun=run['subrun'], sub=run['burst_n']) }}">{{ run['run'] }}</a></td>
                      <td>{{  run["subrun"] }}</td>
                      <td>{{  run["burst_n"] }}</td>
                      <td>{{  run["date"] }}</td>
                      <td>{{  run["time"] }}</td>
                      <td>{{  run["burst_size"] }}</td>
                      <td>{{  run["burst_length"] }}</td>
                      <td>{{  run["avg_nhit"] }}</td>
                      <td>{{ run["firstGTID"] }} - {{ run["lastGTID"] }}</td>
                      <td>{{  run["c_nhit"] }}</td>
                      <td>{{  run["c_length"] }}</td>
                      <td>{{  run["c_size"] }}</td>
                      <td>{{  run["c_rate"] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            {% if ( (offset > limit-1) and (search != null) ) %}
              <a href="{{ url_for("burst", offset=offset-limit, limit=limit, search=search, start=start, end=end) }}">Back</a>
            {% elif (offset > limit-1) %}
              <a href="{{ url_for("burst", offset=offset-limit, limit=limit) }}">Back</a>
            {% endif %}
            {% if ( (total > offset + limit) and (search != null) ) %}
              <a href="{{ url_for("burst", offset=offset+limit, limit=limit, search=search, start=start, end=end) }}">Next</a>
            {% elif (total > offset + limit) %}
              <a href="{{ url_for("burst", offset=offset+limit, limit=limit) }}">Next</a>
            {% endif %}
        </div>
      </div>
    </div>


{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/burst.js') }}"></script>
    <script> window.onload = function() {fill_boxes();};</script>
{% endblock %}
