{% extends "layout.html" %}
{% block title %}L3{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .axis path {
            display: none;
        }

        #main {
            margin-bottom: 30px;
        }

        .horizon .title,
        .horizon .value {
            line-height: {{ height }}px;
        }
    </style>
{% endblock %}
{% block body %}
{{ super() }}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
          <tr>
          <th width="50%" style="text-align:right">Cut type</th>
          <th width="50%">Applied?</th>
          </tr>
          </thead>

          <tr>
            <td style="text-align:right"> nothingcut </td>
            <td> {% if data["nothingcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> nhitcut </td>
            <td> {% if data["nhitcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> zerozerocut </td>
            <td> {% if data["zerozerocut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> ringoffire </td>
            <td> {% if data["ringoffire"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> crateisotropy </td>
            <td> {% if data["crateisotropy"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> flashergeocut </td>
            <td> {% if data["flashergeocut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> neckcut </td>
            <td> {% if data["neckcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> junkcut </td>
            <td> {% if data["junkcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> qcluster </td>
            <td> {% if data["qcluster"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> qvt </td>
            <td> {% if data["qvt"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> qvnhit </td>
            <td> {% if data["qvnhit"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> thresholdflashercut </td>
            <td> {% if data["thresholdflashercut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> caencut </td>
            <td> {% if data["caencut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> muontag </td>
            <td> {% if data["muontag"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> tpmuonfollowercut </td>
            <td> {% if data["tpmuonfollowercut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> missedmuonfollower </td>
            <td> {% if data["missedmuonfollower"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> missedcountburstcut </td>
            <td> {% if data["missedcountburstcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> missingcaendata </td>
            <td> {% if data["missingcaendata"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> itctimespreadcut </td>
            <td> {% if data["itctimespreadcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> ftscut </td>
            <td> {% if data["ftscut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> prescalecut </td>
            <td> {% if data["prescalecut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> owlcut </td>
            <td> {% if data["owlcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> atmospheric </td>
            <td> {% if data["atmospheric"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> emptycrate </td>
            <td> {% if data["emptycrate"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> pollingcut </td>
            <td> {% if data["pollingcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
          <tr>
            <td style="text-align:right"> pedcut </td>
            <td> {% if data["pedcut"] == 1 %}
            &#9989;
            {% else %}
            &#10060;
            {% endif %} </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>3Evt [NHit]</th>
                      <th>5Evt [NHit]</th>
                      <th>7Evt [NHit]</th>
                      <th>10Evt [NHit]</th>
                      <th>Window [s]</th>
                      <th>Pre [s]</th>
                      <th>Post [s]</th>
                      <th>Ext [s]</th>
                      <th>High NHit</th>
                  </tr>
              </thead>
                  <tr>
                      <td id="3Evt"> 1 </td>
                      <td id="5Evt"> 2 </td>
                      <td id="7Evt"> 3 </td>
                      <td id="10Evt"> 4 </td>
                      <td id="window"> 5 </td>
                      <td id="pre"> 6 </td>
                      <td id="post"> 7 </td>
                      <td id="ext"> 8 </td>
                      <td id="high"> 9 </td>
                  </tr>
          </table>
      </div>
    </div>

    <div class="row">
        {% for id, caption in states %}
            {% if not loop.first and loop.index0 % 3 == 0 %}
                <!-- add new row -->
                </div><div class="row">
            {% endif %}
            <div class="col-md-4">
                <table class="table table-hover" id="{{ id }}">
                    <thead>
                        <tr>
                            <th style="width:50%">{{ caption }}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        {% endfor %}
    </div>

  </div>
{% endblock %}
{% set states = [("burstl2", "Burst L2"), ("burstdc1", "DC - pass 1"), ("burstdc2", "DC - pass 2"), ("burstl3", "Burst L3"), ("done", "Done"), ("fail", "Failed")] %}
{% block script %}
  <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/l3.js') }}"></script>
  <script>
      {% for name, _ in states %}
          update_files("{{ name }}", 20);
      {% endfor %}
  </script>
  <script>
      get_SH_settings(20);
  </script>
{% endblock %}
