{% extends "layout.html" %}
{% block title %}Scintillator Level and AV offset{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        Run Range:
        <input type="text" id="run_range_low" value={{run_range_low}} style="width:80px;"> - 
        <input type="text" id="run_range_high" value={{run_range_high}} style="width:80px;"> 
        <button type=button onclick="history();">Update Plot</button>
    </div>
    <h2> Scintillator z level (mm) used in RAT vs run number </h2>
    <div class="row">
        <div class="col-md-12" id="main-scint">
            {% if not scint_data %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
    </div>
    <h2> AV z-offset (mm) used in RAT vs run number </h2>
    <div class="row">
        <div class="col-md-12" id="main-av">
            {% if not av_data %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script>
        if (url_params.run_range_low) {
            document.getElementById("run_range_low").value = url_params.run_range_low;
        }
        if (url_params.run_range_high) {
            document.getElementById("run_range_high").value = url_params.run_range_high;
        }

        var sdata = {{ scint_data | safe }};
        var adata = {{ av_data | safe }};

        var sparams = {
            chart_type: 'point',
            area: false,
            data: sdata,
            width: $('#main-scint').width(),
            left: 100,
            right: 100,
            height: url_params['height'] || 600,
            target: "#main-scint",
            x_accessor:'run',
            y_accessor:'scint_lvl',
            min_y_from_data: true,
            point_size: 4.0,
            y_label: "Scintillator z level (mm)",
            x_label: "Run number",
            yax_count: 10,
            xax_count: 10,
            y_mouseover: function(d, i) {
                return 'Scint. z level (mm):' + my_si_format(d['scint_lvl']);
            },
        };

        var aparams = {
            chart_type: 'point',
            area: false,
            data: adata,
            width: $('#main-av').width(),
            left: 100,
            right: 100,
            height: url_params['height'] || 600,
            target: "#main-av",
            x_accessor:'run',
            y_accessor:'av_offset_z',
            min_y_from_data: true,
            point_size: 4.0,
            y_label: "AV offset (mm)",
            x_label: "Run number",
            yax_count: 10,
            xax_count: 10,
            y_mouseover: function(d, i) {
                return 'AV offset (mm):' + my_si_format(d['av_offset_z']);
            },
        };

        MG.data_graphic(sparams);
        MG.data_graphic(aparams);

        function history() {
            var params = {};
            try {
                params['run_range_low'] = document.getElementById("run_range_low").value;
            } catch (e) {
                params['run_range_low'] = 200000;
            }
            try {
                params['run_range_high'] = document.getElementById("run_range_high").value;
            } catch (e) {
                params['run_range_high'] = 200000;
            }
            window.location.replace($SCRIPT_ROOT + "/scint_level?" + $.param(params));
        }

    </script>
{% endblock %}
